<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF8">
	<link href="https://fonts.googleapis.com/css?family=Acme|Gloria+Hallelujah|Pangolin|Comfortaa|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/yelp.css">
	<title>Gorgeous Grounds</title>

</head>

<body>
	<div class="container">
		<a href="/">Home</a>