<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF8">
	<link href="https://fonts.googleapis.com/css?family=Acme|Gloria+Hallelujah|Pangolin|Comfortaa|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/yelp.css">
	<title>Gorgeous Grounds</title>

</head>

<body>
	<div class="container">
	<div class="spacer">
	</div>
		<nav>
			<li class="navleft"><a class="navanchor" href="/">Home</a></li>
			<li class="navright"><a class="navanchor"href="/register">Sign Up&nbsp</a></li>
			<li class="navright"><a class="navanchor"href="/login">Log In&nbsp</a></li>
			<li class="navright"><a class="navanchor"href="/logout">Log Out&nbsp</a></li>
		</nav>