<% include partials/header %>
    <h3>Update your comment!</h3>
    <form action="/campgrounds/<%= campground %>/comments/<%=comment._id%>?_method=PUT" method="POST">
        <textarea name="comment[text]"><%= comment.text %></textarea><br>
        <input type="submit" value="Update your comment!" placeholder="Add your Comment!">
    </form>
    <br>
    <br>
    <br>
    <p><a href="/campgrounds">Return to all campgrounds page.</a> </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <% include partials/footer %>
