<% include partials/header %>
  <h1>Welcome back!</h1>
  <h2>Please log back in to our beautiful website!<br><br> <strong>The</strong> most comprehensive camping website in all of
    Jackson NJ!!!!</h2>
  <br>
  <form action="/login" method="POST">
    <input type="text" placeholder="Username" name="username"><br>
    <input type="password" placeholder="Password" name="password"><br>
    <input type="submit" value="Come back!">
  </form>

  <% include partials/footer %>
