<% include partials/header %>
	<h3>This is <strong>the</strong> place to add your comments for <%= campground.name %><br> and share it with the world!</h3>
	<form action="/campgrounds/<%= campground._id%>/comments" method="POST">
		        <textarea name="comment[text]" placeholder="Place your comment here"></textarea><br>

		<input type="submit" value="Add your comment!" placeholder="Add your Comment!">
	</form>
	<br>
	<br>
	<br>
	<p><a href="/campgrounds">Return to all campgrounds page.</a> </p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<% include partials/footer %>
