<% include partials/header %>
	<h3>This is <strong>the</strong> place to add your favorite campground<br> and share it with the world!</h3>
	<form action="/campgrounds" method="POST">
		<input type="text" name="name" placeholder="Campground name here"><br>
		<input type="text" name="image" placeholder="Campground image here"><br>
		<input type="number" name="price" min="0.00" placeholder="Price" step="0.01"><br>
		<textarea name="description" placeholder="Please describe this place"></textarea><br>
		<input type="submit" value="Share with the world!" placeholder="Add your Campground!">
	</form>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<% include partials/footer %>
