<% include partials/header %>
	<h3>This is <strong>the</strong> place to add your favorite campground<br> and share it with the world!</h3>
	<form action="/campgrounds" method="POST">
		<input type="text" name="name" placeholder="Campground name here" maxlength="25"><br>
		<input type="text" name="image" placeholder="Campground image here"><br>
		<input type="textbox" name="description" placeholder="Please describe this place"><br><br>
		<input type="Submit" placeholder="Add your Campground!">
	</form>
	<br>
	<br>
	<br>
	<p><a href="/campgrounds">Return to all campgrounds page.</a> </p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<% include partials/footer %>