<% include partials/header %>
    <h1>JOIN US!</h1>
    <h2>Please sign up to our beautiful website.<br><br> The most comprehensive camping website in all of Jackson NJ!!!!</h2>
   <br>
    <form action="/register" method="POST">
        <input type="text" placeholder="Username" name="username"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <input type="submit" value="Join us!">
    </form>

    <% include partials/footer %>