#desc {
	font-family: 'Gloria Hallelujah', cursive;
}

h1 {
	font-family: 'Varela Round', sans-serif;
	font-weight: bolder;
	color: blue;
	text-shadow: 4px 2px #aba;
	font-size: 5em;
	text-align: center;
	text-transform: capitalize;
}

h3 {
	text-transform: capitalize;
	text-shadow: 3px 2px #1f1;
	background-color: transparent;
	font-size: 3.5em;
	text-align: center;
}

* {
	font-family: 'Comfortaa', cursive;
	background-color: #E0FFE0;
}

.grounds {
	margin: 0 auto;
	opacity: 0.15;
	position: absolute;
	width: 500px;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

div {
	float: right;
	clear: inherit;
	background-color: transparent;
	width: 500px;
	height: 500px;
	text-align: center;
	margin: 10px;
	border: grey 1px solid;
}

h2 {
	text-transform: capitalize;
	text-shadow: 3px 2px #1f1;
	background-color: transparent;
	font-size: 2em;
	text-align: center;
}

img {
	opacity: 1.0;
	border: 2px solid grey;
	height: 70%;
	width: 80%;
	margin: auto;
	margin-bottom: 2%;
	display: block;
}

footer {
	text-align: center;
	font-size: 1.5em;
}

p,
form {
	text-align: center;
	justify-content: center;
	font-size: 2.5em;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

button {
	color: white;
	padding: 7px;
	background-color: #05b025;
	border: #000 solid 2px;
	border-radius: 15%;
	cursor: pointer;
	height: 40px;
}

a {
	z-index: 10;
	background-color: transparent;
	color: #007F00;
	text-decoration: none;
	position: relative;
	cursor: pointer;
}

a :hover {
	background-color: #000;
	border: #05b025 solid 2px;
	transform: scale(1.05);
}
p a:hover{
	text-transform: capitalize;
	font-size: .99em;
	text-decoration: underline;
	color: #0e640e;
	transform: scale(1.06);
}
input {
	font-size: .9em;
	padding: 10px;
	width: 42%;
	background-color: #D2F7C8;
	border: #222 solid 1px;
	margin-bottom: 15px;
	text-align: center;
}
#show {
	width: 60%;
	border: 16px solid hsla(130, 100%, 25%, 0.58);;
}